@charset "utf-8";
/* CSS Document */

*{font-family:Arial, Verdana;}
#wrapper {
	background: silver;
	width: 800px;
	margin: 0 auto;
}

#header {
	background: red;
}

#left-column {
	background: yellow;
	float:left;
	width:200px;
}

#right-column {
	background:#fff;
	margin-left:200px;
	width:600px;
	
}

#footer {
	background: pink;
	clear:both;
}
#navbar li{list-style-type:none;}


#navbar {
margin: 0;
padding: 0;
}


#navbar li a:link, #navbar li a:visited {
display: block;
text-decoration: none;
font-weight: bold;
border-bottom: solid #000000 1px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 20px;
}

#navbar li a:hover{
display: block;
text-decoration: none;
font-weight: bold;
border-bottom: solid #000000 1px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 20px;
background-color:#CFC;
color:#903;
}
.stil1{
	background-color:#fff;
}